<h4>Classe</h4>

    <mat-form-field appearance="fill">
      <mat-label>Classe</mat-label>
      <mat-select>
        <mat-option *ngFor="let classd of classdd" [value]="classd.index">
          {{classd.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h4>Niveaux</h4>
    <mat-form-field appearance="fill">
        <mat-label>Level</mat-label>
        <mat-select>
            <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" [value]="number">{{number}}</mat-option>
        </mat-select>
      </mat-form-field>
    

