<p><b>{{spell.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b> Level {{spell.level}}        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      <b>Attack type : </b>{{spell.attack_type}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Duration : </b>{{spell.duration}}</p>



<p><b>Range : </b>{{spell.range}}   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Casting_time : </b>{{spell.casting_time}}</p>

<p><b>Material : </b>{{spell.material}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Components : </b>{{spell.components}}</p>

<p><b>Description : </b>{{spell.desc}}</p>

<p><b>Concentration : </b>{{spell.concentration}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Ritual : </b>{{spell.ritual}}</p>




<p><b>Higher level : </b>{{spell.higher_level}}</p>
<p></p>

<p></p>
<p></p>


<p></p>
<p></p>




<!--
    <balise *ngFor="let item of myArray"></balise>



    export interface Spell {
    index: string,


    name: string,
    desc: string[],
    higher_level: string[],
    range: string,
    components: string[],
    material: string,
    ritual: boolean,
    duration: string,
    concentration: boolean,
    casting_time: string,
    level: number,
    attack_type: string,


    url: string
  }
-->